<!--添加用户弹出层-->
<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Title</title>
	    <link rel="stylesheet"  media="all" th:href="@{/lib/layui/css/layui.css}">
	</head>
	<body>
		<form class="layui-form" method="" id="editModule">
			<div class="layui-form" lay-filter="layuiadmin-form-role" id="layuiadmin-form-role" style="padding: 20px 30px 0 0;">
				<div class="layui-form-item">
					<label class="layui-form-label">类型名称</label>
					<div class="layui-input-block">
						<input class="layui-input" lay-verify="required" type="text" name="name" id="moduleName">
						<input class="layui-input " lay-verify="required" type="hidden" name="id" id="moduleId">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">排序号</label>
					<div class="layui-input-block">
						<input class="layui-input" lay-verify="required" type="text" name="sort"  id="sort">
					</div>
				</div>
				<div class="layui-form-item layui-hide">
						<button class="layui-btn" lay-submit lay-filter="LAY-module-edit-submit" id="LAY-module-edit-submit">添加</button>
				</div>
			</div>
		</form>
       	<script type="text/javascript"  th:src="@{/lib/layui/layui.js}"></script>
		 <script th:src="@{/js/jquery.min.js}" ></script>
		<script type="text/javascript">
			layui.use(['layer', 'form','jquery'], function() {
				var $ = layui.$,
					form = layui.form,
					layer = layui.layer;
				form.verify({
					
				});
				//监听提交
				form.on('submit(LAY-module-edit-submit)', function(data) {
		        	$.ajax({
						url: 'updateCostTypeInfo',
						data: $("#editModule").serialize(),
						type: 'PUT',
						dataType: 'json',
						success: function(data) {
							if(data.success) {
								window.parent.alertMessage('修改成功');
								var index = parent.layer.getFrameIndex(window.name);
								parent.layer.close(index);//关闭当前页
								window.parent.editNameVision($("#moduleId").val(),$("#moduleName").val());
							}
						},
						error: function() {
								layer.msg('系统错误', {
								icon: 5
							});
						}
					});
				    return false;
				});
			});
		</script>
	</body>
</html>